<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:\Users\Vinuta\IdeaProjects\AmazonProject\src\test\java\com\amazon">
        <classes>
            <class name="com.amazon.HomePageTest"></class>
            <class name="com.amazon.SearchPageTest"></class>
            <class name="com.amazon.AddToCartTest"></class>

        </classes>
    </test>
</suite>